body {
    background-image: url("../images/library.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 4px 0px;
    border: 1px solid red;
    display: inline-block;
    color: red;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase
}

label.radio input:checked + span {
    border-color: red;
    background-color: red;
    color: #fff;
}

.ans {
    margin-left: 36px!important;
}

.btn:focus {
    outline: 0!important;
    box-shadow: none!important;
}

.btn:active {
    outline: 0!important;
    box-shadow: none!important
}

.question-2, 
.question-3, 
.question-4, 
.question-5, 
.question-6,
.question-7,
.question-8,
.question-9,
.question-10,
.question-11,
.question-12,
.question-13,
.question-14,
.question-15,
.question-16,
.question-17,
.question-18,
.question-19,
.question-20,
.question-21,
.question-22,
.question-23,
.question-24,
.question-25,
.question-26,
.question-27,
.question-28,
.question-29,
.question-30,
.question-31,
.question-32 {
    display: none;
}

@media only screen and (max-width: 450px) {
    .question {
        padding: 0 !important;
    }

    span {
        padding: 20px !important;
        width: 200px !important;
    }

    .form-select {
        width: 80% !important;
    }

    .form-control {
        width: 80% !important;
    }
}
