/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(68, 36, 100);
}

.silver-bg {
    background-color: rgb(248, 250, 252);
}

.brown-text {
    color: rgb(83, 45, 120);
}

.brown-bg {
    background-color: rgb(83, 45, 120);
}

.orange-bg {
    background-color: orange;
}

.orange-btn:hover {
    background-color: rgb(240, 158, 8);
}

/* Login Form CSS */
.login-form textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: orange;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px orange;
  outline: 0 none;
}

/* Responsive CSS */
@media only screen and (max-width: 576px) {
    .login-form {
        padding: 10px;
        width: 90%;
        margin-top: 25%;
    }

    .brown-btn {
        margin-bottom: 10px;
    }

    .forgot-text {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .login-form {
        padding: 20px;
        width: 75%;
        margin-top: 14%;
    }

    .brown-btn {
        margin-bottom: 10px;
    }

    .forgot-text {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-form {
        padding: 20px;
        width: 50%;
        margin-top: 12%;
    }

    .forgot-text {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .login-form {
        padding: 30px;
        width: 50%;
        margin-top: 8%;
    }

    .forgot-text {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .login-form {
        padding: 30px;
        width: 50%;
        margin-top: 8%;
    }

    .forgot-text {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1401px) {
    .login-form {
        padding: 30px;
        width: 50%;
        margin-top: 13%;
    }

    .forgot-text {
        margin-left: 20px;
    }
}